/* Import */

@import url(https://fonts.googleapis.com/css?family=Raleway);

/* Core Styles */

  body {
    margin: 0;
    font-family: arial, helvetica, sans-serif;
    background: #333;
    color: #fff;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
  }

  body::-webkit-scrollbar {
    width: 0.3em;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #fff;
  outline: 1px solid slategrey;
}

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  h1, h2, h3 {
    margin: 0;
    padding: 1em 0;
  }

  p {
    margin: 0;
    padding: 1em 0;
  }

  .btn {
    display: inline-block;
    background: #333;
    color: #fff;
    text-decoration: none;
    padding: 1em 2em;
    border: 1px solid #666;
    margin: .5em 0;
  }

  .btn:hover {
    background: #eaeaea;
    color: #333;
  }

  nav {
    position: fixed;
    width: 100%;
    padding: 24px 0;
    text-align: center;
    font-family: Raleway;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    background: #3fa46a;
  }

  .link {
    transition: 0.3s ease;
    background: #3fa46a;
    color: #ffffff;
    font-size: 15px;
    text-decoration: none;
    border-top: 4px solid #3fa46a;
    border-bottom: 4px solid #3fa46a;
    padding: 20px 0;
    margin: 0 10px;
  }

  /* Header Showcase */
  #showcase {
    min-height: 450px;
    color: #fff;
    text-align: center;
    .bg-image {
      position: absolute;
      background: #333 url("https://images.pexels.com/photos/248515/pexels-photo-248515.png?w=940&h=650&auto=compress&cs=tinysrgb");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 450px;
      z-index: -1;
      opacity: 0.4;
    }
     h1 {
      padding-top: 100px;
      padding-bottom: 0;
    }
    .content-wrap {
      padding: 0 1.5em;
    }
  }

/* Section A */

#section-a {
  background: #eaeaea;
  color: #333;
  padding-bottom: 2em;
  .content-wrap {
    padding: 0 1.5em;
  }
}

/* Section B */

#section-b {
  padding: 2em 1em 1em;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    margin-bottom: 1em;
    background: #fff;
    color: #333;
  }
  .card-content {
    padding: 1.5em;
  }
}

/* Section C */

#section-c {
  background: #fff;
  color: #333;
  padding: 2em;
}

/* Section D / Boxes */

#section-d {
  .box {
    padding: 2em;
    color: #fff;
  }
  .box:first-child {
    background: #3fa46a;
  }
}

/* Footer */

#main-footer {
  padding: 2em;
  background: #000;
  color: #fff;
  text-align: center;
  a {
    color: #3fa46a;
    text-decoration: none;
  }
}

/* Media querie */

@media screen and (min-width: 700px) {

  nav {
    position: fixed;
    width: 100%;
    padding: 24px;
    text-align: center;
    font-family: Raleway;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    background: #3fa46a;
  }

  .link {
    transition: 0.3s ease;
    background: #3fa46a;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    border-top: 4px solid #3fa46a;
    border-bottom: 4px solid #3fa46a;
    padding: 20px 0;
    margin: 0 20px;
  }

  .link:hover {
    border-top: 4px solid #ffffff;
    border-bottom: 4px solid #ffffff;
    padding: 6px 0;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
  }
  #section-a .content-text {
    columns: 2;
    column-gap: 2em;
    p {
      padding-top: 0;
    }
  }
  .content-wrap,
  #section-b ul {
    grid-column: 2/4;
  }
  .box, #main-footer div {
    grid-column: span 2;
  }
  #section-b ul {
    display: flex;
    justify-content: space-around;
    li {
      width: 31%;
    }
  }
}
